# MySQL queries on the Dognition database

Dognition (https://www.dognition.com) is a company that offers a series of engaging, science-based games that reveal a dog's unique way of thinking, or "Dognition Profile." Users receive an in-depth report detailing the cognitive abilities and natural tendencies of your four-legged friend. Dognition has been featured on the CBS 60 minutes program.

The Dognition data is collected on a 20-game Dognition Assessment program that assesses 5 core dimensions of cognition: empathy, communication, cunning, memory, and reasoning.

The Dognition MySQL database contains 6 tables:

* dogs
* users
* complete_tests
* exam_answers
* reviews
* site_activities

## Loading Dognition database via the IPython interface

In [ ]:
%load_ext sql
%sql mysql://studentuser:studentpw@mysqlserver/dognitiondb
%sql USE dognitiondb

In [ ]:
%sql SHOW tables

In [ ]:
%sql DESCRIBE dogs

In [ ]:
%sql SHOW columns FROM dogs

## Information extraction using MySQL queries

**Question 1: Find the Dog IDs for the dogs in the Dognition data set that were DNA tested (these should have a 1 in the dna_tested field of the dogs table).**

In [ ]:
%%sql
SELECT dog_guid
FROM dogs
WHERE dna_tested = 1
;

** Question 2: Find User IDs of customers who have female dogs whose breed includes the word "terrier" somewhere in its name. Limit the output to 10 User IDs.**

In [ ]:
%%sql
SELECT user_guid
FROM dogs
WHERE gender = 'female' AND breed LIKE '%terrier%'
LIMIT 10
;

**Question 3: Find the User ID, Dog ID, and test name of the first 10 tests to ever be completed in the Dognition database.**

In [ ]:
%%sql
SELECT DISTINCT user_guid, dog_guid, test_name, created_at
FROM complete_tests
ORDER BY created_at ASC
LIMIT 10
;

**Question 4: What is the minimum and maximum value in the Duration column of your query that included the data from the entire table?**

In [ ]:
%%sql
SELECT MIN(TIMESTAMPDIFF(MINUTE, start_time, end_time)) AS Min_Duration, 
       MAX(TIMESTAMPDIFF(MINUTE, start_time, end_time)) AS Max_Duration
FROM exam_answers
WHERE (start_time AND end_time) IS NOT NULL
;

**Question 5: Write a query that outputs the total number of unique User_Guids in each combination of State and ZIP code in the United States *that have at least 5 users*, sorted first by state name in ascending alphabetical order, and second by total number of unique User_Guids in descending order.**

In [ ]:
%%sql
SELECT state, zip, COUNT(DISTINCT user_guid) AS Num
FROM users
WHERE country = 'US'
GROUP BY state, zip
HAVING Num >= 5
ORDER BY state ASC, Num DESC
;

**Question 6: For which 3 dog breeds do we have the greatest amount of site_activity data, (as defined by non-NULL values in script_detail_id)(your answers should be "Mixed", "Labrador Retriever", and "Labrador Retriever-Golden Retriever Mix"?**

In [ ]:
%%sql
# inner join
SELECT d.breed, COUNT(s.script_detail_id) AS siteAct
FROM site_activities s, dogs d
WHERE s.dog_guid = d.dog_guid AND s.script_detail_id IS NOT NULL
GROUP BY d.breed
ORDER BY COUNT(s.script_detail_id) DESC
LIMIT 3 
;

**Question 7: Use a left join to create a list of all the unique dog_guids that are contained in the site_activities table, but not the dogs table, and how many times each one is entered.  Exclude the NULL values in the dog_guid of the site_activities table.**

In [ ]:
%%sql
# outer join
SELECT s.dog_guid, COUNT(s.dog_guid)
FROM site_activities s LEFT JOIN dogs d
    ON s.dog_guid = d.dog_guid
WHERE d.dog_guid IS NULL AND s.dog_guid IS NOT NULL
GROUP BY s.dog_guid
;

**Question 8: Determine the number of unique users in the users table who were NOT in the dogs table using a NOT EXISTS clause.**

In [ ]:
%%sql
# subqueries
SELECT COUNT(DISTINCT u.user_guid) AS uUserCount
FROM users u
WHERE NOT EXISTS (SELECT *
                 FROM dogs d
                 WHERE d.user_guid=u.user_guid)
;

**Question 9: Retrieve a full list of all the DogIDs a user in the users table owns, with its accompanying breed information whenever possible. Limit the output to 100.**

In [ ]:
%%sql
SELECT DistinctUUsersID.user_guid AS uUserID, DistinctDUserID.user_guid AS dUserID, 
            DistinctDUserID.dog_guid AS dDogID, count(*) AS numrows
FROM (SELECT DISTINCT u.user_guid 
      FROM users u LIMIT 100) AS DistinctUUsersID 
LEFT JOIN (SELECT DISTINCT d.user_guid, d.dog_guid 
      FROM dogs d) AS DistinctDUserID
ON DistinctUUsersID.user_guid=DistinctDUserID.user_guid

GROUP BY DistinctUUsersID.user_guid
ORDER BY numrows DESC;

**Question 10: For each dog_guid, output its dog_guid, breed_type, number of completed tests, and use an IF statement to include an extra column that reads "Pure_Breed" whenever breed_type equals 'Pure Breed" and "Not_Pure_Breed" whenever breed_type equals anything else. Limit the output to 10 rows.**

In [ ]:
%%sql
SELECT d.dog_guid, d.breed_type, COUNT(c.test_name) AS numCompleted,
       IF(d.breed_type='Pure Breed', 'Pure_Breed', 'Not_Pure_Breed') AS pure
FROM complete_tests c
     INNER JOIN dogs d
     ON c.dog_guid=d.dog_guid
GROUP BY d.dog_guid
ORDER BY numCompleted DESC
LIMIT 10
;

**Question 11: Write a query that uses a CASE statement to report the number of unique user_guids associated with customers who live in the United States and who are in the following groups of states:**

**Group 1: New York (abbreviated "NY") or New Jersey (abbreviated "NJ")    
Group 2: North Carolina (abbreviated "NC") or South Carolina (abbreviated "SC")    
Group 3: California (abbreviated "CA")    
Group 4: All other states with non-null values**

In [ ]:
%%sql
SELECT CASE WHEN u.state IN ('NY', 'NJ') THEN 'Group 1'
            WHEN u.state IN ('NC', 'SC') THEN 'Group 2'
            WHEN u.state='CA' THEN 'Group 3'
            ELSE 'Group 4'
       END AS region, COUNT(DISTINCT u.user_guid) AS numDogs
FROM users u 
WHERE country='US'
GROUP BY region
;

**Question 12: Write a query that calculates the average amount of time it took each dog breed_type to complete all of the tests in the exam_answers table. Exclude negative durations from the calculation, and include a column that calculates the standard deviation of durations for each breed_type group:**

In [ ]:
%%sql
SELECT breedType, AVG(duration), STDDEV(duration) 
FROM (SELECT e.dog_guid, d.breed_type AS breedType, TIMESTAMPDIFF(day, e.start_time, e.end_time) AS duration
        FROM dogs d 
        INNER JOIN exam_answers e
        ON d.dog_guid=e.dog_guid
        WHERE TIMESTAMPDIFF(minute, e.start_time, e.end_time)>=0) AS grp
GROUP BY breedType
;

**Question 13: Report the total number of tests completed on each weekday. Exclude the dog_guids that have a value of "1" in the exclude column. Sort the results by the total number of tests completed in descending order.**

In [ ]:
%%sql
SELECT CASE DAYOFWEEK(grp.created_at)
        WHEN '2' THEN 'Mon'
        WHEN '3' THEN 'Tue'
        WHEN '4' THEN 'Wed'
        WHEN '5' THEN 'Thu'
        WHEN '6' THEN 'Fri'
        WHEN '7' THEN 'Sat'
        WHEN '1' THEN 'Sun'
    END AS day, COUNT(grp.test_name) AS numTest
FROM (SELECT c.created_at, c.test_name
    FROM complete_tests c
    INNER JOIN dogs d
    ON c.dog_guid=d.dog_guid
    WHERE (d.exclude=0 OR d.exclude IS NULL)) AS grp
GROUP BY day
ORDER BY numTest DESC
;